index.html
{{title}}
<ul>
	<li><a href="/twitter/search/?q=cooper%20union">Sample search for Cooper Union</a></li>
	<li><a href="/user/search/everyplace">Show user information for @everyplace</a></li>
	<li><a href="/twitter/search/cooper%20union?since_id=542080665177841660">Show search results for Cooper Union after the tweet id 542080665177841660</a></li>
	<li><a href="/geo/reverse_geocode?lat=37.7821120598956&long=-122.400612831116">Reverse geocode a lat/long to a place</a></li>
	<li><a href="/rate_limit_status">Check the current rate limit on api usage</a></li>
</ul>